body {
    background-image: url("../images/bg109.png");
    background-repeat: repeat;
    background-size: cover;
/* background-color: aqua; */
}

.container-fluid {

    text-align: center;
}


.col-sm-6 {
background-color: rgb(149, 206, 218);
/* color:red; */
    
}